.icon-middle
    +ivcenter()
    left: 0

.card-modal
    display: none

.home-banners__smaller 
    flex-grow: 1

.home-banners__imgwrapper
    overflow: hidden
    &:first-child + &:last-child
        margin-top: 32px
    img
        width: 100%

.header__navigation, .subnavigation__list
    font-weight: 600

.header__top-inner
    height: 32px !important
    padding: 0 !important

.partners__item .icon
    font-size: 32px

.card-cart .icon
    font-size: 15px
    width: 1em
    height: 1em

.card-cart__title, .card-cart__price, .card__title
    font-weight: 500