- 
    var pages_list = [
        { url: 'home-1.html', title: 'Главная - Вариант 1' },
        { url: 'home-2.html', title: 'Главная - Вариант 2' },
        { url: 'home-3.html', title: 'Главная - Вариант 3' },
        { url: 'home-4.html', title: 'Главная - Вариант 4' },
        { url: 'home-5.html', title: 'Главная - Вариант 5' },
        { url: 'home-6.html', title: 'Главная - Вариант 6' },
        { url: 'home-7.html', title: 'Главная - Вариант 7' },
        { url: 'home-8.html', title: 'Главная - Вариант 8' },
        { url: 'catalog.html', title: 'Каталог' }, 
        { url: 'cart.html', title: 'Корзина' }, 
        { url: 'product.html', title: 'Карточка товара' }, 
        { url: 'order.html', title: 'Оформление заказа' }, 
        { url: '404.html', title: '404' },
        { url: 'cabinet-data.html', title: 'Кабинет - Данные' },
        { url: 'cabinet-history.html', title: 'Кабинет - История' },
        { url: 'cabinet-prog.html', title: 'Кабинет - Программа лояльности' },
        { url: 'cabinet-fav.html', title: 'Кабинет - Избранное' },
        { url: 'contacts.html', title: 'Контакты' }
    ]