.slider--mini.swiper-container
    .swiper-wrapper
        each i in [0,1,2,3]
            .swiper-slide 
                +card(i)
.arrow-prev(id="arrow-prev--mini")
.arrow-next(id="arrow-next--mini")