ul.partners__list
  li.partners__item
    a.partners__link(href='#')
      +icon('denisov-logo')   
  each item in ['mastercard', 'visa', 'paybox', 'zoodpay']
    li.partners__item
      +picon(item)
