.slider-auto.swiper-container.js-products-carousel
    .swiper-wrapper
        each i in [0,1,2,3,4,0,1,2]
            +card(i, { class: 'swiper-slide' })
.arrow-prev.arrow-prev--auto
.arrow-next.arrow-next--auto