extends layouts/_layout.pug
block title 
    |    Каталог
block modals 
    include modals/_filters.pug
block content 
    .cataloge
        .l-wrapper
            .cataloge__inner.l-aside
                aside.cataloge__aside.l-aside__aside.aside
                    ul.aside__list
                        each val, key in {'Вся одежда': '3256', 'SALE': '245', 'Блузка': '136', 'Брюки': '124', 'Водолазка': '567', 'Джинсы': '88', 'Дубленка': '24', 'Жилет': '124', 'Кардиган': '67', 'Куртка': '78', 'Пальто': '101', 'Парка': '86', 'Пиджак': '124', 'Платье': '456', 'Платье-Поло': '345', 'Плащ': '16', 'Пуловер': '79', 'Рубашка': '341', 'Свитер': '224', 'Свитшот': '124', 'Толстовка': '255', 'Футболка': '456', 'Шорты': '124', 'Шуба': '45', 'Юбка': '144'}
                            li.aside__item
                                a.aside__link.hover-line
                                    | #{key}
                                    span #{val}
                .l-aside__content
                    include components/_cataloge-filters.pug
                    .cataloge__cards
                        each i in [0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0]
                            +card(i)
                        .cataloge__show-more 
                            button.btn Показать еще товары
                    nav.cataloge__page-nav.pagination
                        p.pagination__descr Страницы: &nbsp;
                        ul.pagination__list
                            li.pagination__item
                                span.pagination__link.pagination__link--active 1
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 2
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 3
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 4
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 5
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 6
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 7
                            li.pagination__item.pagination__item--dots ...
                            li.pagination__item
                                a.pagination__link.hover-line.hover-line--thin(href='#') 12
                    p.cataloge-page__all-goods Ещё товаров: &nbsp; 
                        span 3251
