extends layouts/_home.pug

block banners 
    .cards 
        .cards__row.row
            each item in [1,2]
                .cards__col.col-12.col-xs-6
                    .cards__container
                        +banner({ img: item })