extends layouts/_home.pug

block banners 
    .cards 
        .cards__row.row 
            .cards__col.col-12.col-xs-4
                .cards__container.cards__container--v
                    +banner({ img: 2 })
                    +banner({ img: 3 }) 
            .cards__col.col-12.col-xs-8
                .cards__container
                    +banner({ img: 1 })