extends layouts/_layout.pug

block vars
    - var footer_light = true

block title 
    | Оформление заказа

block content 
    section.submit-order
        .l-wrapper
            h1.subtitle Оформление заказа
            .submit-cart.submit-order__block
                .submit-cart__left
                    .submit-cart__count
                        +icon('cart')
                        p В корзине &nbsp; 
                        span (2 товара)
                    .submit-cart__price
                        | На сумму: 
                        span 62 990 ₸
                a.submit-cart__link.link(href='#') Посмотреть товары
            form.submit-order__form
                .submit-adress.submit-order__block.submit-tab.submit-tab--active
                    button.submit-tab__head(type='button') адрес доставки
                    .submit-tab__body
                        label.label.label--important
                            span Имя
                            input.input.input--small(type='text')
                        label.label.label--important 
                            span Фамилия
                            input.input.input--small(type='text')
                        label.label.label--important
                            span Телефон
                            input.input.input--small(type='text' data-phone-mask)
                        label.label.label--important 
                            span Эл. почта
                            input.input.input--small(type='text')
                        label.label.label--important
                            span Город
                            select.js-select(name="delivery_city")
                                option(value="almaty") Алматы
                                option(value="other") Другие
                        label.label.label--important 
                            span Адрес
                            input.input.input--small(type='text')
                        button.btn.btn--next(type='button') далее
                    .submit-tab__checked
                        ul.submit-tab__checked-list
                            li.submit-tab__checked-item Алексей Заморин
                            li.submit-tab__checked-item +7 965 443-33-33
                            li.submit-tab__checked-item zamorin@gmail.com
                            li.submit-tab__checked-item г. Астана, ул. Сивасова, д. 44, кв. 95
                        button.submit-tab__checked-link.link(type='button') Изменить адрес доставки
                .submit-delivery.submit-order__block.submit-tab
                    button.submit-tab__head(type='button') способ доставки
                    .submit-tab__body
                        .js-other-delivery.d-none 
                            .delivery-methods
                                .delivery-methods__head 
                                    .delivery-methods__method Служба
                                    .delivery-methods__days Сроки доставки
                                    .delivery-methods__price Стоимость
                                .delivery-methods__body 
                                    - 
                                        var delivery_methods = [
                                            { name: 'Алем-ТАТ', value: 'alemtat', days: '1 - 2', price: '1 000' },
                                            { name: 'СДЭК', value: 'cdek', days: '2 - 5', price: '1 500' },
                                            { name: 'Pony Express', value: 'pony', days: '1 - 7', price: '2 500' },
                                            { name: 'Spark Logistics', value: 'spark', days: '3 - 5', price: '3 000' },
                                            { name: 'DPD', value: 'dpd', days: '7 - 10', price: '5 000' }
                                        ]
                                    each item in delivery_methods
                                        label.delivery-methods__row 
                                            .delivery-methods__method
                                                .label.label--have-checkbox
                                                    input.checkbox(type='radio' name='other-delivery')
                                                    span.checkbox-style 
                                                .delivery-methods__icon
                                                    if item.value == 'alemtat'
                                                        +picon('alem-tat')
                                                    else if item.value == 'cdek'
                                                        +icon('cdek-logo')
                                                    else if item.value == 'pony'
                                                        +picon('pony-express')
                                                    else if item.value == 'spark'
                                                        +icon('spark-logo') 
                                                    else if item.value == 'dpd'
                                                        +icon('dpd-logo')
                                                span #{item.name}
                                            .delivery-methods__days #{item.days} раб. дней
                                            .delivery-methods__price #{item.price} ₸
                        .js-almaty-delivery
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-delivery')
                                span.checkbox-style
                                span.submit-delivery__subtitle Доставка в пределах квадрата пр. Аль-Фараби – ул. Бузурбаева – пр. Рыскулова – ул. Яссауи 
                                | Стоимость: 
                                span.submit-delivery__price 1 000 ₸
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-delivery')
                                span.checkbox-style
                                span.submit-delivery__subtitle Доставка вне указанного квадрата
                                | Стоимость: 
                                span.submit-delivery__price 1 500 ₸
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-delivery')
                                span.checkbox-style
                                span.submit-delivery__subtitle Cамовывоз: г. Алматы, ул. Жибек Жолы 104 , магазин «Kimex»
                                | Стоимость: 
                                span.submit-delivery__price 0 ₸
                        button.btn.btn--next(type='button') далее
                    .submit-tab__checked
                        ul.submit-tab__checked-list
                            li.submit-tab__checked-item Доставка вне указанного квадрата
                            li.submit-tab__checked-item Стоимость: 1 500 ₸
                        button.submit-tab__checked-link.link(type='button') Изменить способ доставки
                .submit-pay.submit-order__block.submit-tab
                    button.submit-tab__head(type='button') способ оплаты
                    .submit-tab__body
                        .submit-pay__top
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-pay')
                                span.checkbox-style
                                span.submit-pay__title Наличными
                        .submit-pay__bottom
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-pay')
                                span.checkbox-style
                                +picon('paybox')
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-pay')
                                span.checkbox-style
                                div
                                    +picon('zoodpay')
                                    br
                                    span.m-t-5.d-block.checkbox-absolute-label Рассрочка
                            label.label--have-checkbox
                                input.checkbox(type='radio' name='order-pay')
                                span.checkbox-style
                                +picon('mastercard')
                                +picon('visa')
                .submit-order__submit.submit-order__block
                    ul.submit-order__submit-list
                        li.submit-order__submit-item Товаров на сумму: 
                            span 62 990 ₸
                        li.submit-order__submit-item Доставка: 
                            span 1500 ₸
                        li.submit-order__submit-item Итого: 
                            span 64 490 ₸
                        li.submit-order__submit-item
                            label.label--have-checkbox
                                input.checkbox(type='checkbox' name='order-pay')
                                span.checkbox-style
                                span.label-checkbox__title Оплата сертификатом
                    button.btn.btn--submit(type='submit') подтверждение заказа