extends layouts/_layout.pug
block title 
    |    Карточка товара

block content 
    section.card-up
        .l-wrapper
            .card-up__inner
                .card-up__top
                    .card-up__left
                        ul.breadcrumbs
                            li.breadcrumbs__item
                                a.breadcrumbs__content(href='#') Женская 
                            li.breadcrumbs__item
                                a.breadcrumbs__content(href='#') Одежда
                            li.breadcrumbs__item
                                a.breadcrumbs__content(href='#') Трикотаж
                            li.breadcrumbs__item
                                span.breadcrumbs__content Свитеры
                        .card-up__gallery
                            .card-up__navigation.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src='temp/card-up-navigation-1.jpg')
                                    .swiper-slide
                                        img(src='temp/card-up-navigation-2.jpg')
                                    .swiper-slide
                                        img(src='temp/card-up-navigation-3.jpg')
                                    .swiper-slide
                                        img(src='temp/card-up-navigation-4.jpg')
                                    .swiper-slide
                                        img(src='temp/preview-1.jpg')
                                    .swiper-slide
                                        img(src='temp/preview-1.jpg')
                                    .swiper-slide
                                        img(src='temp/preview-1.jpg')
                            .arrow-prev.card-up-gallery(id='card-up-navigation-prev')
                            .arrow-next.card-up-gallery(id='card-up-navigation-next')
                            .card-up__big.swiper-container
                                .item-discount 70%
                                .item-badges 
                                    .item-badge.item-badge--pink promo
                                    .item-badge.item-badge--blue exclusive
                                .swiper-wrapper
                                    a.swiper-slide(data-fancybox="gallery" data-src="temp/preview-1.jpg")
                                        img(src='temp/preview-1.jpg')
                                    a.swiper-slide(data-fancybox="gallery" data-src="temp/card-up-navigation-2.jpg")
                                        img(src='temp/card-up-navigation-2.jpg')
                                    a.swiper-slide(data-fancybox="gallery" data-src="temp/card-up-navigation-3.jpg")
                                        img(src='temp/card-up-navigation-3.jpg')
                                    a.swiper-slide(data-fancybox="gallery" data-src="temp/card-up-navigation-4.jpg")
                                        img(src='temp/card-up-navigation-4.jpg')
                                    a.swiper-slide(data-fancybox="gallery" data-src="temp/preview-1.jpg")
                                        img(src='temp/preview-1.jpg')
                                +icon('resize')
                    .card-up__right.card-modal--haveDiscount
                        ul.breadcrumbs
                            li.breadcrumbs__item
                                a.breadcrumbs__content(href='#') Женская 
                            li.breadcrumbs__item
                                a.breadcrumbs__content(href='#') Одежда
                            li.breadcrumbs__item
                                a.breadcrumbs__content(href='#') Трикотаж
                            li.breadcrumbs__item
                                span.breadcrumbs__content Свитеры
                        h1.card-modal__title СВИТЕР УДЛИНЕННЫЙ MM6
                        .card-modal__descr-block
                            p.card-modal__descr Бежевый свитер
                            p.card-modal__article Артикул: 255461
                        span.card__price
                            span.card__price--old 65 990 ₸
                            | 32 995 ₸
                        p.card-modal__curr-color Выберите цвет:
                            span Светлобежевый
                        .card-modal__colors-list
                            label.label--have-checkbox.label--colorpick
                                input.checkbox(type="radio" name='card-colorpick' checked)
                                span.checkbox-style(style='background-color: #ddc5b9')
                            label.label--have-checkbox.label--colorpick
                                input.checkbox(type="radio" name='card-colorpick')
                                span.checkbox-style(style='background-color: #5d5d62')
                            label.label--have-checkbox.label--colorpick
                                input.checkbox(type="radio" name='card-colorpick')
                                span.checkbox-style(style='background-color: #c5c5c8')
                        p.card-modal__curr-size Выберите цвет:
                            a(href='#') Таблица размеров
                        .card-modal__size-list
                            label.label--have-checkbox.label--sizepick
                                input.checkbox(type="radio" name='card-sizepick' checked)
                                span.checkbox-style S
                            label.label--have-checkbox.label--sizepick
                                input.checkbox(type="radio" name='card-sizepick' disabled)
                                span.checkbox-style M
                            label.label--have-checkbox.label--sizepick
                                input.checkbox(type="radio" name='card-sizepick')
                                span.checkbox-style L
                            label.label--have-checkbox.label--sizepick
                                input.checkbox(type="radio" name='card-sizepick')
                                span.checkbox-style XL
                        .card-modal__buttons
                            button.card__cart-btn.btn добавить в корзину
                            span.card__like
                                +icon('save')
                        .card-modal__links 
                            a.card-modal__link(href='#')
                                +icon('box')
                                span.link Проверить наличие в магазине
                            a.card-modal__link.js-product-share-trigger(href="#") 
                                +icon('share')
                                span.link Поделиться
                            .card-modal__share.js-product-share    
                                button.card-modal__share-close.js-product-share-close
                                    +icon('x')                            .
                                .card-modal__share-group 
                                    .card-modal__share-label 
                                        | Скопировать ссылку
                                        .card-modal__share-copy-success.js-product-share-copy-success.no-opacity Скопировано!
                                    input.input.input--small.js-product-share-input(value="http://kimex.kz/balenciaga/bags/12312-super-bag-vip-discount")
                                .card-modal__share-group
                                    .card-modal__share-label Соцсети
                                    ul.connect__list.connect--black
                                        each item in ['whatsapp', 'pinterest', 'facebook', 'twitter', 'telegram', 'envelope']
                                            li.connect__item
                                                a.connect__link(href='#')
                                                    +icon(item)
                        ul.card-up__details-wrapper
                            li.accordion-wrapper
                                button.accordion-head Детали
                                .accordion-body
                                    ul.card-up__details-list
                                        each val in ['Материал верха', 'Внутренний материал', 'Материал подошвы', 'Материал стельки', 'Высота каблука', 'Состав', 'Материал подкладки', 'Утеплитель', 'Ширина', 'Высота', 'Ширина дна', 'Длина ручек', 'Плечевой ремень', 'Застежка', 'Бренд', 'Пол', 'Страна производитель', 'Сезон']   
                                            li.card-up__details-listitem=val 
                                    ul.card-up__details-list   
                                        each val in ['Кожа' , 'Синтетика', 'Резина', 'Синтетика', '50 см', '90% полиэстер, 10% хлопок', 'Синтетика', 'Есть', '100 см', '50 см', '10 см', '10 см', 'В наличии', 'В наличии', 'GUCCI', 'Женский', 'Вьетнам', 'Лето']   
                                            li.card-up__details-listitem=val 
                            li.accordion-wrapper
                                button.accordion-head Оплата
                                .accordion-body
                                    div
                                        ul.list.m-b-20
                                            li онлайн-оплата банковской картой на сайте Интернет-магазина
                                            li онлайн-оплата рассрочка ZoodPay
                                            li подарочным сертификатом
                                        .partners 
                                            +pay_partners(['mastercard', 'visa', 'paybox', 'zoodpay'])
                            li.accordion-wrapper
                                button.accordion-head Доставка и возврат
                                .accordion-body
                                    div
                                        h4.h4 ДОСТАВКА 

                                        .m-b-25 Доставка товаров осуществляется по всему Казахстану.

                                        .m-b-25
                                            .m-b-10 Доставка по г.Алматы:
                                            ul.list
                                                li срок доставки: 1-2 дня, следующих после дня подтверждения заказа
                                                li стоимость доставки в пределах квадрата пр. Аль-Фараби – ул. Бузурбаева – пр. Рыскулова – ул. Яссауи - 1000 тенге
                                                li стоимость доставки вне указанного квадрата - 1500 тенге
                                                li При заказе на сумму более 15 000 тг доставка осуществляется бесплатно
                                                li время доставки в будние дни с 12:00 до 21:00
                                                li в праздничные и выходные дни доставка не осуществляется

                                        .m-b-25
                                            .m-b-10 Доставка по другим городам Казахстана:
                                            ul.list
                                                li стоимость доставки рассчитывается индивидуально в зависимости от пункта назначения и веса посылки
                                                li доставка осуществляется до двери 

                                        h4.h4 ВОЗВРАТЫ
                                        
                                        .text
                                            | Вы можете осуществить возврат товара в течение 14 дней. 
                                            br
                                            | Более подробную информацию вы найдете в разделе 
                                            a(href="#").link Политика возвратов
                .card-up__reviews.reviews
                    .reviews__head
                        h2.subtitle отзывы
                        .stars
                            .stars__number 4,8
                            +rate(75)
                            .stars__all 14 человек
                        a.reviews__leave.link(href='#') Оставить отзыв
                    ul.reviews__list
                        li.reviews__item
                            .reviews__item-head
                                +rate(50)
                                p.reviews__item-owner Анна, г. Астана, 18 декабря 2020
                            p.reviews__item-text
                                | Вообще с платьями у меня сложные отношения. Не всегда удается найти что-то на большую грудь. Ну и чего уж там, и на немаленький живот. При этом я не очень люблю платья-мешки.
                                | Встретила это платье - и не смогла устоять. Сначала меня подкупила цена! Всего 500 руб! 
                                | У нас за такие деньги можно купить только футболку, и то, сомнительного качества.
                            p.reviews__item-useful
                                | Полезный отзыв?
                                span.reviews__item-like
                                    +icon('like')
                                    | 1
                                span.reviews__item-dislike
                                    +icon('dislike')
                                    | 0
                        li.reviews__item
                            .reviews__item-head
                                +rate(88)
                                p.reviews__item-owner Валентина, г. Астана, 14 марта 2021
                            p.reviews__item-text
                                | Заказ пришёл из интернет-магазина быстро. Сначала я хотела поменять на размер побольше, потому что показалось, что немного тянет в груди. Но потом я всё-таки решила померить его ещё и дома и не стала ничего менять.
                            p.reviews__item-useful
                                | Полезный отзыв?
                                span.reviews__item-like
                                    +icon('like')
                                    | 1
                                span.reviews__item-dislike
                                    +icon('dislike')
                                    | 0
                        li.reviews__item
                            .reviews__item-head
                                +rate(66)
                                p.reviews__item-owner Анна, г. Астана, 18 декабря 2020
                            p.reviews__item-text
                                | Вообще с платьями у меня сложные отношения. Не всегда удается найти что-то на большую грудь. Ну и чего уж там, и на немаленький живот. При этом я не очень люблю платья-мешки.
                                | Встретила это платье - и не смогла устоять. Сначала меня подкупила цена! Всего 500 руб! 
                                | У нас за такие деньги можно купить только футболку, и то, сомнительного качества.
                            p.reviews__item-useful
                                | Полезный отзыв?
                                span.reviews__item-like
                                    +icon('like')
                                    | 1
                                span.reviews__item-dislike
                                    +icon('dislike')
                                    | 0
                    .reviews__footer 
                        .tabs.pagination__list
                            p.pagination__descr Страницы: &nbsp;
                            a.tab.pagination__item.hover-line.hover-line--thin.tab--active
                                span.pagination__link 1
                            a.tab.pagination__item.hover-line.hover-line--thin
                                span.pagination__link 2
                            a.tab.pagination__item.hover-line.hover-line--thin
                                span.pagination__link 3
                            a.tab.pagination__item.hover-line.hover-line--thin 
                                span.pagination__link 4
                        button.reviews__close.link Свернуть все отзывы
                        a.reviews__all.link(href='#') Все отзывы
    hr.line.line--card-up(noshade)

    section.slider.slider--left
        .l-wrapper
            h3.subtitle так же рекомендуем
            include components/_slider-auto.pug

    hr.line.line--card-up(noshade)

    section.slider.slider--left
        .l-wrapper
            h3.subtitle недавно просмотренные
            include components/_slider-auto.pug