extends _layout.pug
block title 
    |    Главная
    
block content 
    section.home-choose
        .l-wrapper
            .home-choose__items
                .home-choose__item.home-choose__item--active
                    picture.home-choose__item-img
                        img(src="./assets/img/woman-banner.jpg")
                    nav.subnavigation.subnavigation--choose
                        ul.subnavigation__list
                            each val in ['НОВИНКИ', 'ДИЗАЙНЕРЫ', 'ОДЕЖДА', 'ОБУВЬ', 'СУМКИ', 'АКСЕССУАРЫ', 'ПОДАРКИ', 'SALE']
                                li.subnavigation__item
                                    a.subnavigation__link.hover-line(href='#')=val
                        a.home-choose__gender.active-line(href='#') женщинам
                .home-choose__item
                    picture.home-choose__item-img
                        img(src="./assets/img/man-banner.jpg")
                    nav.subnavigation.subnavigation--choose
                        ul.subnavigation__list
                            each val in ['НОВИНКИ', 'ДИЗАЙНЕРЫ', 'ОДЕЖДА', 'ОБУВЬ', 'СУМКИ', 'АКСЕССУАРЫ', 'ПОДАРКИ', 'SALE']
                                li.subnavigation__item
                                    a.subnavigation__link.hover-line(href='#')=val
                        a.home-choose__gender.hover-line(href='#') Мужчинам
    section.slider-auto-wrapper.slider.slider--have-cards
        .l-wrapper
            h3.subtitle новинки недели
            include ../components/_slider-auto.pug
    section.home-banners
        .l-wrapper
            .home-banners__inner
                block banners
    section.actually.slider.full-width
        .l-wrapper
            h3.subtitle актуальное
            .slider--big-slides.swiper-container
                .swiper-wrapper
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/actually-1.jpg' alt='')
                        span.card-big__title Платье
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/actually-2.jpg' alt='')
                        span.card-big__title Блузка
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/actually-3.jpg' alt='')
                        span.card-big__title Пиджак
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/actually-4.jpg' alt='')
                        span.card-big__title Юбка
            .arrow-prev.arrow-prev--big-slides
            .arrow-next.arrow-next--big-slides
    section.mini-cataloge
        .l-wrapper
            .tabs-wrapper
                .tabs.mobile-overflow
                    a.tab.subtitle.hover-line.tab--active.active-line(href='#tab-1')
                        h3 выгодная цена
                    a.tab.subtitle.hover-line(href='#tab-2')
                        h3 тренд
                    a.tab.subtitle.hover-line(href='#tab-3')
                        h3 exclusive
            .tabs-container
                each item in [1,2,3]
                    div(id="tab-" + item, class="tabs-content cataloge-wrapper slider slider-auto-wrapper" + (item == 1 ? ' tabs-content--active' : '')) 
                        include ../components/_card-row.pug
                        include ../components/_card-row.pug
                        include ../components/_card-row.pug
                        //include components/_slider-auto.pug
    section.instagram.slider.full-width
        .l-wrapper
            h3.subtitle Наш Instagram
            p.subtitle-descr
                a(href='#') @kimex_grazie
            .slider--instagram.swiper-container
                .swiper-wrapper
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/instagram-1.jpg' alt='')
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/instagram-2.jpg' alt='')
                    a.card-big.swiper-slide(href='#')
                        img(src='temp/instagram-3.jpg' alt='')
            .arrow-prev.arrow-prev--instagram
            .arrow-next.arrow-next--instagram 