
include ../_mixins.pug
include ../_chunks.pug

block vars

doctype html
html
    head
        title
            block title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name="format-detection", content="address=no")
        link(rel='stylesheet', type='text/css', href='assets/css/vendors.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/app.css?' + Math.round(Math.random() * 100000000))
        script(src='assets/js/modernizr.js')

    body
        include ../modals/_auth.pug
        include ../modals/_fast-view.pug
        block modals
    
        include ../partials/_header.pug  

        div.l-body
            block content

        button.up-btn.js-up-btn

        include ../partials/_footer.pug

        block scripts
        script(src='assets/js/vendors.min.js')
        script(src='assets/js/app.js')