@mixin font($name) {
  src: url('../fonts/#{$name}/#{$name}.woff2') format('woff2'), url('../fonts/#{$name}/#{$name}.woff') format('woff');
  text-rendering: optimizeLegibility;
  font-display: swap;
}


  @font-face {
    font-family: 'Montserrat';
    @include font('Montserrat-Medium');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    @include font('Montserrat-SemiBold');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    @include font('Montserrat-Bold');
    font-weight: bold;
    font-style: normal;
  }
