/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$sprite-image: '../img/'
$alem-tat-x: 0px
$alem-tat-y: 66px
$alem-tat-offset-x: 0px
$alem-tat-offset-y: -66px
$alem-tat-width: 50px
$alem-tat-height: 42px
$alem-tat-total-width: 162px
$alem-tat-total-height: 140px
$alem-tat-image: '../img/spritesheet.png'
$alem-tat: 0px 66px 0px -66px 50px 42px 162px 140px '../img/spritesheet.png'
$mastercard-sm-x: 54px
$mastercard-sm-y: 108px
$mastercard-sm-offset-x: -54px
$mastercard-sm-offset-y: -108px
$mastercard-sm-width: 27px
$mastercard-sm-height: 16px
$mastercard-sm-total-width: 162px
$mastercard-sm-total-height: 140px
$mastercard-sm-image: '../img/spritesheet.png'
$mastercard-sm: 54px 108px -54px -108px 27px 16px 162px 140px '../img/spritesheet.png'
$mastercard-x: 0px
$mastercard-y: 108px
$mastercard-offset-x: 0px
$mastercard-offset-y: -108px
$mastercard-width: 54px
$mastercard-height: 32px
$mastercard-total-width: 162px
$mastercard-total-height: 140px
$mastercard-image: '../img/spritesheet.png'
$mastercard: 0px 108px 0px -108px 54px 32px 162px 140px '../img/spritesheet.png'
$paybox-x: 75px
$paybox-y: 24px
$paybox-offset-x: -75px
$paybox-offset-y: -24px
$paybox-width: 80px
$paybox-height: 32px
$paybox-total-width: 162px
$paybox-total-height: 140px
$paybox-image: '../img/spritesheet.png'
$paybox: 75px 24px -75px -24px 80px 32px 162px 140px '../img/spritesheet.png'
$pony-express-x: 0px
$pony-express-y: 24px
$pony-express-offset-x: 0px
$pony-express-offset-y: -24px
$pony-express-width: 75px
$pony-express-height: 42px
$pony-express-total-width: 162px
$pony-express-total-height: 140px
$pony-express-image: '../img/spritesheet.png'
$pony-express: 0px 24px 0px -24px 75px 42px 162px 140px '../img/spritesheet.png'
$visa-sm-x: 116px
$visa-sm-y: 82px
$visa-sm-offset-x: -116px
$visa-sm-offset-y: -82px
$visa-sm-width: 40px
$visa-sm-height: 12px
$visa-sm-total-width: 162px
$visa-sm-total-height: 140px
$visa-sm-image: '../img/spritesheet.png'
$visa-sm: 116px 82px -116px -82px 40px 12px 162px 140px '../img/spritesheet.png'
$visa-x: 50px
$visa-y: 82px
$visa-offset-x: -50px
$visa-offset-y: -82px
$visa-width: 66px
$visa-height: 22px
$visa-total-width: 162px
$visa-total-height: 140px
$visa-image: '../img/spritesheet.png'
$visa: 50px 82px -50px -82px 66px 22px 162px 140px '../img/spritesheet.png'
$zoodpay-sm-x: 50px
$zoodpay-sm-y: 66px
$zoodpay-sm-offset-x: -50px
$zoodpay-sm-offset-y: -66px
$zoodpay-sm-width: 110px
$zoodpay-sm-height: 16px
$zoodpay-sm-total-width: 162px
$zoodpay-sm-total-height: 140px
$zoodpay-sm-image: '../img/spritesheet.png'
$zoodpay-sm: 50px 66px -50px -66px 110px 16px 162px 140px '../img/spritesheet.png'
$zoodpay-x: 0px
$zoodpay-y: 0px
$zoodpay-offset-x: 0px
$zoodpay-offset-y: 0px
$zoodpay-width: 162px
$zoodpay-height: 24px
$zoodpay-total-width: 162px
$zoodpay-total-height: 140px
$zoodpay-image: '../img/spritesheet.png'
$zoodpay: 0px 0px 0px 0px 162px 24px 162px 140px '../img/spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@function str-replace($string, $search, $replace: '')
  $index: str-index($string, $search)
  @if $index
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  @return $string

@mixin sprite-image($sprite)
  $random: random(999999999)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image}?#{$random})
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    background-image: url(#{str-replace($sprite-image, '.png', '')}@2x.png?#{$random})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

.picon
  display: inline-block
  vertical-align: middle
  line-height: 1
  font-size: 0
  position: relative
  top: -1px
.picon-alem-tat
  +sprite($alem-tat)
  background-size: 162px 140px
.picon-mastercard-sm
  +sprite($mastercard-sm)
  background-size: 162px 140px
.picon-mastercard
  +sprite($mastercard)
  background-size: 162px 140px
.picon-paybox
  +sprite($paybox)
  background-size: 162px 140px
.picon-pony-express
  +sprite($pony-express)
  background-size: 162px 140px
.picon-visa-sm
  +sprite($visa-sm)
  background-size: 162px 140px
.picon-visa
  +sprite($visa)
  background-size: 162px 140px
.picon-zoodpay-sm
  +sprite($zoodpay-sm)
  background-size: 162px 140px
.picon-zoodpay
  +sprite($zoodpay)
  background-size: 162px 140px
