.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: all ease .3s;
}

.icon-arrow {
  width: 0.56em;
  height: 1em;
  fill: #231f20;
}
.icon-bin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-box {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 0.95em;
  height: 1em;
  fill: #333232;
}
.icon-cart {
  width: 0.99em;
  height: 1em;
  fill: #333232;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-denisov-logo {
  width: 2.67em;
  height: 1em;
  fill: initial;
}
.icon-dislike {
  width: 1.14em;
  height: 1em;
  fill: #333232;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-join {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1.14em;
  height: 1em;
  fill: #333232;
}
.icon-logo {
  width: 5.45em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-password-hidden {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.icon-password-visible {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pin {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-save {
  width: 1.11em;
  height: 1em;
  fill: #333232;
}
.icon-search {
  width: 0.99em;
  height: 1em;
  fill: #333232;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-x {
  width: 1em;
  height: 1em;
  fill: #231f20;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
